body {
    background-color: rgb(253, 161, 215);
  }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .card {
            text-align: center;
        }

        .card img {
            width: 100%;
            max-width: 400px; /* Aumenta o tamanho máximo da imagem */
            height: auto;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        .card p {
            margin-top: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
  
